.pageFooter {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    margin-top: 40px;
    padding: 65px 0 30px 0;
}

.pageFooter_logo {
    height: 40px;
}

.pageFooter_text {
    color: white;
    font-size: clamp(0.75rem, 0.4583rem + 1.6667vw, 1.5rem);
    font-weight: 500;
    margin: 0;
}

@media all and (max-width: 500px) {
    .pageFooter {
        padding-bottom: 60px;
    }
}