.errorMessage {
    display: flex;
    flex-direction: column;
    color: #FF6060;
    width: 100%;
    align-items: center;
    padding-bottom: 200px;
}

.errorMessage_code {
    font-weight: 700;
    font-size: clamp(6rem, 1.3333rem + 26.6667vw, 18rem);
    margin: 0;
}

.errorMessage_text {
    font-weight: 500;
    font-size: clamp(1.125rem, 0.6875rem + 2.5vw, 2.25rem);
    margin: 0;
    text-align: center;
}

.backToHome {
    font-weight: 500;
    font-size: clamp(0.875rem, 0.7778rem + 0.5556vw, 1.125rem);
    margin-top: clamp(6.25rem, 1.2153rem + 18.0556vw, 12.5rem);
    border-bottom: solid 1px;
}

.link {
    color: inherit;
}