.banner {
    border-radius: clamp(10px, 0.2604rem + 2.0833vw, 25px);
    position: relative;
    overflow: hidden;
}

.banner_image {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.title_background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

.banner_title {
    color: white;
    font-size: clamp(1.25rem, 0.5694rem + 3.8889vw, 3rem);
    font-weight: 500;
    padding: 0px 20px;
}

.banner_any {
    height: clamp(6.9375rem, 4.2153rem + 15.5556vw, 13.9375rem);
    width: auto;
}

.banner_accommodation {
    height: clamp(15.9375rem, 12.0486rem + 22.2222vw, 25.9375rem);
    width: auto;
}