.banner {
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.banner_image {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.title_background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

.banner_title {
    color: white;
    font-size: 48px;
    font-weight: 500;
}

.banner_any {
    height: 223px;
}

.banner_accommodation {
    height: 415px;
}